<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="index.html :: head"></head>
  <body>
    <header th:replace="index.html :: header"></header>
    <section>
      <h1 class="text-center text-primary m-4">Add a travel</h1>
      <div class="container">
        <form action="#"  method="POST" th:action="@{/adddest}" th:object="${createdestination}">
          <label for="country">Country visited:</label><br /><br />
          <input class="form-control" id="country" name="country" placeholder="Country" required th:field="*{country}" type="text">
          <br /><hr class="col-md-4 offset-md-4 border-2 border-top border-warning mt-3">
          <div class="row">
            <div class="col">
              <label for="startdate">Travel start date:</label><br /><br />
              <input id="startdate" name="startdate" th:field="*{startDate}" placeholder="startDate"  type="date">
            </div>
            <div class="col">
              <label for="enddate">Travel end date:</label><br /><br />
              <input id="enddate" name="enddate" th:field="*{endDate}" placeholder="endDate"  type="date">
            </div>
          </div><br /><br />
          <input type="submit" value="Create travel" class="btn btn-primary">
        </form>
      </div><br />
    </section>
  </body>
</html>